<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
<title>{%strings.app_name%}</title>
<link href="/common/css/bootstrap.min.css" rel="stylesheet">
<link href="/common/css/font-awesome.css" rel="stylesheet">

<script type="text/javascript" src="/common/js/config.js"></script>
<script type="text/javascript" src="/common/js/function.js"></script>
<script type="text/javascript" src="/common/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/common/js/jquery.fusionajax-0.5.js" ></script>
<script type="text/javascript" src="/common/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="/common/js/underscore-min.js"></script>
<script type="text/javascript" src="/common/js/underscore.jquery.template.js"></script>
<script type="text/javascript" src="/common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/common/js/hammer.min.js"></script>
<script type="text/javascript" src="/common/js/jquery.hammer-full.min.js"></script>

<!--SyntaxHighlighter-->
<script type="text/javascript" src="/plugins/syntaxhighlighter_3.0.83/scripts/shCore.js"></script>
<script type="text/javascript" src="/plugins/syntaxhighlighter_3.0.83/scripts/shBrushJScript.js"></script>
<link type="text/css" rel="stylesheet" href="/plugins/syntaxhighlighter_3.0.83/styles/shCoreDefault.css"/>
<script type="text/javascript">SyntaxHighlighter.all();</script>