<div class="bs-callout bs-callout-info" style="background-color: #5bc0de; padding:2px 2px 1px 2px;">
    <a href="./?act=index"><h3 style="color:#fff;padding: 5px;"><i class="fa fa-cube"></i> {%strings.app_name%}</h3></a>
    <p style="background-color: #fff; padding:10px;">{%strings.description%}
    </p>
</div>
<br />