{% include_once "/res/layout/mobile/devel/header.html" %}

<!--BBS-->
<link href="/modules/bbs/skin/devel/list.css" rel="stylesheet"><!--bbs skin-->
<script type="text/javascript" src="/modules/bbs/js/bbs.js"></script>
<script type="text/javascript" src="/modules/comment/js/comment.js"></script>
<script type="text/javascript">
// bbs
var act = '{%_GET.act%}';
var bbs_id='dashboard';
var bbs_list_type = 'news';
var bbs_skin = 'devel';

//comment
var comment_id='dashboard';
var comment_skin = 'devel';
var comment_foreign_key = '';

// paging
var paging_theme = 'gray';

$(document).ready(function()
{
    bbs_set_resources();

    var History = window.History, State = History.getState();
    History.Adapter.bind(window,'statechange',function(){
        var State = History.getState();
        if(_.isUndefined(State.data.mode)){State.data.mode='list';}
        if(State !=null && State.data !=null){
            bbs_skin_template(State.data.mode, State.data);
        }
    });
    var history_parametar = convertUrlToJson('{%_SERVER.QUERY_STRING%}');
    history_parametar.state = _.now();
    History.pushState(history_parametar, null, null);
});

</script>
</head>
<body>
    <div class="container" style="margin: 0px; padding: 0px;">
            {% include_once "/res/layout/mobile/devel/title_bar.html" %}

            나는 모바일
            <div class="list-group" style="margin-top: 20px;">
              <a href="./?act=bbs" class="list-group-item"><i class="fa fa-chevron-right"></i> 멀티게시판(BBS)</a>
              <a href="./?act=comment" class="list-group-item"><i class="fa fa-chevron-right"></i> 댓글(Comment)</a>
              <a href="#" class="list-group-item"><i class="fa fa-chevron-right"></i> 멤버쉽(Member)</a>
              <a href="#" class="list-group-item"><i class="fa fa-chevron-right"></i> 로그인(Auth)</a>
              <a href="#" class="list-group-item"><i class="fa fa-chevron-right"></i> 관리자(Admin)</a>
              <a href="#" class="list-group-item"><i class="fa fa-chevron-right"></i> 팝업(Popup)</a>
              <a href="#" class="list-group-item"><i class="fa fa-chevron-right"></i> 캘린더(Calendar)</a>
            </div>


            <h3>대시보드</h3>
            <div id="bbs"></div>
            <div id="comment"></div>
            <div><ul id="paging" class="pagination"></ul></div>
            <div id="comment_write"></div>

      {% include_once "/res/layout/mobile/devel/copyright.html" %}
     </div>


</body>

{% include_once "/res/layout/mobile/devel/footer.html" %}
